/* Angular Material CSS */
*, *:before, *:after { 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -ms-box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Input Classes */
.valid-input {
    .mat-form-field-label {
        color: #69f0ae !important;
    }
    .mat-form-field-underline {
        background-color: #69f0ae !important;
    }
    .mat-form-field-ripple {
        background-color: #69f0ae !important;
    }
    .mat-form-field-input {
        background-color: #69f0ae !important;
    }
}

/* Toast Classess */
.success-snackbar {
    background-color: #28a745!important;
    color: #fff;
}

.error-snackbar {
    background-color: #dc3545!important;
    color: #fff;
}

.warning-snackbar {
    background-color: #ffc107!important;
    color: #fff;
}

.info-snackbar {
    background-color: #17a2b8 !important;
    color: #fff;
}

/* Pages Card Content */
.card-page-content {
    &__card {
        margin-top: 20px !important;

        &__content-web {
            padding-left:  100px;
            padding-right: 100px;
        }

        &__content-tablet {
            padding-left:  50px;
            padding-right: 50px;
        }

        &__content-mobile {
            padding-left:  10px;
            padding-right: 10px;
        }
    }
    
    &__buttons-box {
        text-align: right;

        &--margin-btn {
            margin-right: 10px !important;
        }
    }
}

/* Data Table */
.data-table {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: 10%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
    }
    
    &__actions {

        &__th {
            text-align: right !important;

            &--action {
                color: #fff !important;
            } 
        }

        &__td {
            text-align: right !important;

           &--action {
                color: #fff !important;
           } 
        }
    }
}

/* Table Paginator */
.table-paginator {
    .mat-paginator {
        display: flex !important;
        justify-content: center !important;
    } 
}